 <article class="twit">
    <div class="twit-icon">
      
    </div>
   <div class="twit-content">
     
     <p class="twit-text">
       {{Skin_name}} 
      </p>

      <div class="twit-weapon"> {{Weapon_type}}</div>
  
      <img class="resize" src="{{Image_file}}" />

        <p class="twit-author">
       {{Price}}
      </p>
   </div>
  </article>