    <main class="twit-container">

    {{#if multiTwit}}
        {{#each twitpage}}

            {{>twit}}
        
        {{/each}}

        {{else}}
            {{> twit}}
      
    {{/if}}

    </main>

    {{#if multiTwit}}

    

    {{/if}}

